---
import Header from '../components/Header.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marcus Ihme | Portfolio</title>
  </head>
  <body class="bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100 font-sans">
    <Header />

    <main class="max-w-6xl mx-auto px-4 py-10">
      <section class="mb-10 text-center">
        <h1 class="text-4xl font-bold mb-2">Hi, I'm Marcus Ihme 👋</h1>
        <p class="text-lg text-gray-600 dark:text-gray-300">
			  5+ years of experience as a full-stack developer with a strong focus on cybersecurity. Deep expertise in secure systems design and writing robust code in Go, C++, Python, and JavaScript. </p>
      </section>
      <section>
        <h2 class="text-2xl font-semibold mb-4">Projects</h2>
        <div class="grid gap-6 md:grid-cols-2">
          <ProjectCard 
            title="FridgePilot"
            description="Full-stack web app application with login/register to create personalized KETO diets based on user goals, body metrics, and budget - includes recipe suggestions and price calculations."
            tech="Node.js, MongoDB, React, Tailwind CSS, Express.js, Vite, OpenAI API"
            link="https://github.com/theballmarcus/Fridge-Pilot"
            logo="/logos/FridgePilot.svg"
          />
          <ProjectCard 
            title="ICView"
            description="Full-stack web appplication for rending GLTF (generated from GDSII files) models in VR. Features seeing individual layers, zooming in and out. Uses heavy custom optimization to instance the GLTF models. "
            tech="Node.js, Three.js, Express.js, GDSII parsing, WebXR, VR Rendering, GLTF"
            live_link="https://icworks.dk/vr/"
            link="https://github.com/theballmarcus/ICView"
            logo="/logos/icworks_logo.jpeg"
          />
          <ProjectCard 
            title="Scom - Updated Version"
            description="A C-based CLI tool for interfacing with custom-designed silicon over I2C or SPI, supporting register access and bit manipulation for embedded data storage."
            tech="C, I2C, SPI"
          />
          <ProjectCard 
            title="Co:Int"
            description="Fullstack web application for matching gamers with similar interests. Includes login, register, a page were the user describes themselfs, and then a page where ChatGPT generates a list of users that match the user description."
            tech="Next.js, React, OpenAI API, MongoDB, Express.js"
            link="https://github.com/theballmarcus/co-int"
            logo="/logos/coint.webp"
          />
          <ProjectCard 
            title="AmongUs Hack Client (Educational)"
            description="An experimental reverse-engineering project. Includes speed slider, reveal imposters, option to be impostor, no kill cooldown. For educational use only."
            tech="C#, Reverse Engineering, Game Hacking"
            link="https://github.com/theballmarcus/AmongUs-Memery-GUI/tree/main"
            logo="https://images.seeklogo.com/logo-png/41/1/among-us-logo-png_seeklogo-410042.png"
          />

          <ProjectCard 
            title="Reg-Db-Interface"
            description="Web-based tool and VS-code extension for managing hardware register maps in a centralized database. Features searchable UI, bitfield visualization, and import/export utilities in JSON and CSV."
            tech="React, Express.js, MongoDB"
          />

          <ProjectCard 
            title="GDStools"
            description="A CLI tool to convert GDS for viewing, listing cells and converting GDSII files. Made as a tool to support ICView."
            tech="C++, Python, Bash/ZSH Completion, GLTF"
            link="https://github.com/jorgenkraghjakobsen/gdstools"
          />

          <ProjectCard 
            title="An authenticated IoT system for data collection from an ESP32 and rendering"
            description="A full IoT system for collecting data like power usage, battery voltage and charginging state for a product used in industry. Backend system for data collection and frontend for data monitoring. "
            tech="GO, Node.js, Next.js, React, ESP32, MySQL, Swagger, Gin-Tonic, "
          />
          
          <ProjectCard 
            title="MerusDevice"
            description="Python CLI tool for managing GPIO pins for a custom ASIC and I2C communication with register mapping. "
            tech="Python, I2C"
          />

          <ProjectCard 
            title="Left-on-by-accident"
            description="A small gimmic; day project that uses Node.js to capture a screenshot, display the screenshot in fullscreen and lock the keyboard / mouse. If enough interactions is made with the computer, it displays a false bluescreen picture."
            tech="Node.js"
            link="https://github.com/theballmarcus/left-on-by-accident"
          />

          <ProjectCard 
            title="Theballmarcus Portfolio"
            description="This web application"
            tech="Pure static HTML"
            link="https://github.com/theballmarcus/theballmarcus-portfolio"
          />

          <ProjectCard 
            title="ICW-Dashboard"
            description="Internal dashboard for adding and monotoring local services. Can test if a service is running by either pinging or checking systemctl. "
            tech="Go, Sqlite"
          />
        </div>
      </section>
    </main>
  </body>
</html>
